! Rydgel Xresources

! XFt settings
Xft.antialias:  1
Xft.autohint:   0
Xft.dpi:        200
Xft.hinting:    1
Xft.hintstyle:  hintfull
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb

! Set the font
URxvt*font: xft:xos4\ terminus:pixelsize=31:antialias=false
URxvt*boldFont: xft:xos4\ terminus:pixelsize=31:antialias=false
URxvt.letterSpace: 0
! Increase line spacing
URxvt*lineSpace: 2

! Terminal window size
URxvt*geometry: 65x17

! Disable scrollbar
URxvt.scrollBar: false

! Set urxvt as login shell
URxvt*loginShell: true

! Set terminal padding
URxvt.internalBorder: 15

! Enables copy/paste with Ctrl-Shift-C/V
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.perl-ext-common: default,clipboard
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste

! Size of cursor
Xcursor.size: 16

! Colors {{{

*background: #1D2426
*foreground: #8FA388

! Alternate foreground
!*foreground: #AB9C71

*cursorColor: #BE5E1E

*color0:  #39474A
*color1:  #986345
*color2:  #788249
*color3:  #9B6A46
*color4:  #3E5951
*color5:  #B9924A
*color6:  #5d796a
*color7:  #977D5E
*color8:  #4C5F63
*color9:  #B07350
*color10: #869151
*color11: #AF6B42
*color12: #567A6E
*color13: #D69D55
*color14: #668574
*color15: #AB9C71

! }}}
